.bgNav{
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
}

.nav-link{
  font-family: 'didot-regular';
  font-family: 'Antic Didone', serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.modal-title{
  font-family: 'didot-regular';
  font-family: 'Antic Didone', serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

.modal-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
}

.imgHab{
  background-image: url('../images/imgCome/comentariosPort.jpg');
  max-width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  opacity: 0.9;
}

.titlePort{
  opacity: 1;
  z-index: 1;
  font-family: 'didot-regular';
  font-family: 'Antic Didone', serif;
  letter-spacing: 13px;
  font-size: 80px;
  color: aliceblue;
  padding-bottom: 12px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
  text-shadow: 0 0 0.1em black;
}

.subtitlePort{
  opacity: 1;
  font-family: 'Antic Didone', serif;
  letter-spacing: 13px;
  font-size: 30px;
  color: aliceblue;
  text-shadow: 0.1em 0.1em 0.15em black;
}

.titleSec{
  margin-top: 50px;
  font-family: 'Antic Didone', serif;
  letter-spacing: 13px;
  font-size: 50px;
  color: black;
}

.subtitleSec{
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 17px;
  color: black;
  width: 700px;
}

.fade {
  transition: opacity .3s linear;
}

::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  /* background-color: #e9f3e8; */
  width: 300px;
  height: 500px;
  position: relative;
  display:inline-block;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin:30px;
  margin-left: 30px;
  /* border-radius: 20px; */
  box-shadow: 5px 8px 12px #54545a;
  transition: all 0.3s ease-in-out;
  margin-bottom: 80px;
}

.container img{
  /* padding: 5px; */
  width: 100%;
  height: 40%;
  /* border-radius: 20px; */
}

.container:hover{
  transform: scale(1.01);
  box-shadow: 13px 15px 20px #a5b5a2;
}

.container p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: .5em;
  color: #72757e;
  position: relative;
  justify-content: baseline;
  margin-top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pie-pagina{
  width: 100%;
  background-color: #3c3c3b;
}

.grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  column-gap: 50px;
  padding: 45px 0px;
}

.box-1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.box-2{
  font-family: 'Antic Didone', serif;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.red-social{
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  color: white;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
}
.subtitle{
  color: white;
  margin-bottom: 25px;
}

.text{
  color: white;
  margin-bottom: 10px;
}

.copy{
  font-family: 'Antic Didone', serif;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
}

.btn1{
  margin-top: 20px;
  border-color: #D5BDAF;
  color: #D5BDAF;
  width: 150px;
}

.btn1:hover{
  border-color: #C9ADA7;
  background-color: #C9ADA7;
  color: white;
}

.btn1:focus {
  box-shadow: 0 0 0 0.25rem #C9ADA7;
}

.comentarios{
  font-family: 'Antic Didone', serif;
}

.comentarios p {
  font-family: 'Antic Didone', serif;
  font-weight: 600;
}

/* ### FOOTER FLOTANTE ## */
.rssFlotante{
  width: 250px;
  position: sticky;
  z-index: 99;
  top: 95vh;
  left:100vw;
  opacity: .4;
  font-family: 'didot-regular';
}

.rssFlotante select{
  border: 0;
}

.rssFlotante:hover{
  opacity: .8;
  transition: opacity .5s linear;
}

.rssFlotante a:hover{
  opacity: .5;
  transition: opacity .5s linear;
}

@media (min-width: 200px) and (max-width: 768px){

  .imgHab{
    max-width: 100%;
    height: 50vw;
  }

  .titlePort{
    letter-spacing: 5px;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  
  .subtitlePort{
    letter-spacing: 1px;
    font-size: 10px;
  }
  
  .titleSec{
    margin-top: 20px;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .subtitleSec{
    margin-top: 10px;
    font-size: 12px;
    width: 200px;
  }

  .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    column-gap: 50px;
    padding: 35px 0px;
  }

}

@media (min-width: 750px) and (max-width: 992px){

  .imgHab{
    max-width: 100%;
    height: 50vw;
  }

  .titlePort{
    letter-spacing: 21px;
    font-size: 50px;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  
  .subtitlePort{
    letter-spacing: 10px;
    font-size: 25px;
  }
  
  .titleSec{
    margin-top: 20px;
    letter-spacing: 10px;
    font-size: 30px;
  }

  .subtitleSec{
    margin-top: 10px;
    font-size: 15px;
    width: 500px;
  }

}

@media all and (min-width:920px){
  .imgHab{
    height: 100vh;
    background-position:center;
  }
}
